.Preview {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease 0.3s;
}

.Preview.is-loaded {
  cursor: grab;
}

.Preview.is-dragging {
  cursor: grabbing;
}

.Preview.has-error {
  opacity: 1;
}

.Preview .thumbnail {
  max-height: 256px;
  margin: auto;
}

.Preview .error {
  color: red;
}

#babylonjsLoadingDiv {
  display: none !important;
}
